.pad .button {
    border:2px solid #000;
    background-color:#aaa;
    width:100px;
    height:100px;
    line-height:100px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.button i { line-height: inherit; font-size:400%; font-weight:bold; }

.button.down { background-color:#666; border-color:#ff0000;}